{% extends 'base.template.html' %}
{% load cloudinary %}

{% block title %}Reiviews{% endblock %}

{% block content %}
<section class="allreviews">
     <div class="container">
        <h1 class=" text-center">Reviews on our Kimchis</h1>

        <div class="row mx-auto mb-3">
            <div class="col" id="fitBtn">
                <a class="btn btn-outline-secondary float-right" href="{% url 'create_review_route' %}">Post a review</a>
            </div>
        </div>
        <hr class="line">
        {% for r in reviews %}
        <a href="{% url 'review_details_route' review_id=r.id %}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{r.product_name}}</h5>
                    <hr>
                    <div class="row">
                        <div class="col-8">
                            <p class="h6 card-title">{{r.title}}</p>
                            <p class="card-text font-italic">{{r.content}}</p>
                            <p class="text-muted">Posted by {{r.user}} {{r.published|date:"d.m.Y"}}</p>
                        </div>
                        <div class="col-4">
                            {% cloudinary r.cover %}
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
     </div>
</section>
{% endblock %}