{% extends 'base.template.html' %}
{%load crispy_forms_tags %} 

{% block title %}Leave a comment{% endblock %}

{% block content %}
<section class="comment">
    <div class="container">
        <div class="commentBox">
            <p class="h1 mt-5 mb-5">Leave a comment on</p>
            <blockquote class="blockquote text-center">
                <p class="h3 mb-0">" {{review.title}} "</p>
            </blockquote>
            <hr>

            <form method="POST">
                {% csrf_token %} 
                {{form|crispy}}
                <a class="btn btn-outline-dark mt-4 ml-2 px-3 btnPosition" href="{% url 'review_details_route' review_id=review.id %}">Cancel</a>
                <input type="submit" class="btn btn-outline-success mt-4 btnPosition" value="Comment"/>
            </form> 
        </div>
    </div>
</section>
{% endblock %}