{% extends 'base.template.html' %}

{% block title %}Delete | {{review.title}}{% endblock %}

{% block content %}
<section class="deletion">
    <div class="container py-5">
        <div class="deletionBox">
            <div class="alert alert-danger text-center py-5">
                <p>Are you sure you want to delete your review : {{review.title}} ?</p>
                
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success mt-5 mb-5">confirm</button>
                    <a href="{% url 'review_details_route' review_id=review.id %}" class="btn btn-outline-dark mt-5 mb-5">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}