{% extends 'base.template.html' %}
{%load crispy_forms_tags %}
{% load cloudinary %}
{% load static %}

{% block title %}Edit your review{% endblock %}

{% block content %}
<section class="updateReview">
    <div class="container">
        <div class="updateReviewbox">
            <h1 class="text-center mb-5">Edit | {{review.title}}</h1>
            <hr>
            <form method="POST" enctype="multipart/form-data" id="form">
                {% csrf_token %}
                {{form|crispy}}
                <a class="btn btn-outline-dark mt-4 ml-2 btnPosition" href="{% url 'review_details_route' review_id=review.id %}">Cancel</a>
                <input type="submit" class="btn btn-outline-success px-4 mt-4 btnPosition" value="Save"/>
            </form>


            <!--Uploading images starts-->
            <div class="status">
                <span class="status_value"></span>
            </div>
            <br>
            <div class="uploaded_info_holder"></div>
            <!--Uploading images ends-->
        </div>
    </div>
</section>
{% endblock %}


{% block js %}
    {% cloudinary_includes %}
    {% cloudinary_js_config %}
    <script>
    function prettydump(obj) {
        ret = ""
        $.each(obj, function(key, value) {
        ret += "<tr><td>" + key + "</td><td>" + value + "</td></tr>";
        });
        return ret;
    }

    $(function () {
        $('#form input[type="file"]')
        .cloudinary_fileupload({
        dropZone: '#form',
        start: function () {
            $('.status_value').text('Starting direct upload...');
        },
        progress: function () {
            $('.status_value').text('Uploading...');
        },
        }).on('cloudinarydone', function (e, data) {
            $('.status_value').text('Uploaded :');
            
            // for debugging
            var info = $('<div class="uploaded_info"/>');
            $(info).append($('<div class="image"/>').append(
            $.cloudinary.image(data.result.public_id, {
                format: data.result.format, width: 150, height: 150, crop: "fill"
            })
            ));
            $('.uploaded_info_holder').append(info);
            // end debugging
            $('#form  input[type="file"]').parent().parent().remove();
        });
    }); // end function
    </script>
{% endblock %}