{% extends 'base.template.html' %}

{% block title %}Shopping cart{% endblock %}

{% block content %}
<section class="cart">
	<div class="container">
		<h1 class="text-center">Your Shopping Cart</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Item</th>
					<th>Unit Price / Quantity</th>
					<th>Price</th>
				</tr>
			</thead>
			{%for key, i in cart.items %}
			<tbody>
				<tr>
					<td>{{i.name}}</td>
					<td>
						<form method="POST" action="{% url 'update_quantity_route' kimchi_id=i.id %}">
							${{i.price|floatformat:2}} x {{i.qty}}&ensp;
							{%csrf_token%}
							<input type="text" name="qty" value="{{i.qty}}" class="qty"/>
							<button type="submit" class="btn-dark btn-sm">Update</button>&ensp;
							<a
								href="{% url 'remove_from_cart_route' kimchi_id=i.id %}"><i class="fas fa-trash-alt delete" title="Delete"></i></a>
						</form>
					</td>
					<td>${{i.total_price|floatformat:2}}</td>
				</tr>
			</tbody>

            <!--if shopping cart is empty-->
            {% empty %}
		    <h3>※ No items in your shopping cart</h3>
		    {% endfor %}
		</table>

		<h4 class="text-right mt-5">Total Price: ${{total|floatformat:2}}</h4>
		<div class="row">
			<div class="col text-right mb-1 mt-3">
				<a href="{% url 'all_kimchis_route' %}" class="btn btn-outline-dark btn-sm">Continue Shopping</a>
				<a href="{% url 'checkout_route' %}" class="btn btn-outline-dark btn-sm">Checkout</a>
			</div>
		</div>
		<hr>
	</div>
</section>
{% endblock %}