/* To remove hyperlink on <a> tag in 'View all reviews' and 'View all kimchis' pages*/
.allreviews a, .allkimchis a {
    color: inherit;
    text-decoration: none;
}


/* To make the contents field in the review form to be shown wider, by giving padding*/
#TableContent {
    padding-bottom: 15rem;
}


/* To make the width of the buttons to be align with the contents table in 'Review details' page */
#fitBtn, #fitBtn2 {
    padding-left: 0;
    padding-right: 0;
}


/* To give user-interactions on display cards upon mouseover */
#cardEffect {
    transition: 0.5s ease;
}

#cardEffect:hover {
    transform: scale(1.1);
}


/* Search engine*/
#id_title, #id_main_ingredient, #searchBtn {
    width: 9rem;
}

@media screen and (max-width: 1000px) {
    #search {
       width: 5rem;
    }

    #id_title, #id_main_ingredient, #searchBtn {
    width: 5rem;
    }
}

@media screen and (max-width: 575px) {
    #search {
       width: 15rem;
    }

    #id_title, #id_main_ingredient, #searchBtn {
    width: 15rem;
    }
}


/*For flash message */ 
.alert {
    margin-bottom: 0;
}


/* For product images displayed on card */
input#id_title.textinput.textInput.form-control, img.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 300px;
}


/* Base template */
#navbar-brand {
    font-family: 'Cormorant Upright', serif;
    font-size: 1.8rem;
    font-weight: 900;
    text-shadow: 0.5px 0.5px #333;
}

.navbar {
    font-family: 'Nanum Gothic',  sans-serif;
}

.navbar .mr-sm-2 {
    margin-right: 0 !important;
}

.subnav {
    font-family: 'Song Myung', serif;
}

.subnav a, .subnav a {
    color: inherit;
    text-decoration: none;
    font-size: 0.9rem;
}

.subnav span {
    display: inline-block;
    padding: .5rem 1rem;
}

@media screen and (max-width: 340px) {
    .subnav a, .subnav a, .subnav span {
       font-size: 0.8rem;
    }
}


/* Button to scroll back to the top */
#scroll_btn {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    color: #333;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-radius: 4px;
  }
 
  @media screen and (max-width: 770px) {
    #scroll_btn {
        display: none;
        position: fixed;
        bottom: 100px;
        right: 30px;
        z-index: 99;
        font-size: 9px;
        border: none;
        outline: none;
        background-color: whitesmoke;
        color: #333;
        cursor: pointer;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 4px;
      }
}


/* footer section */
footer {
    background-color: #333;
    color:rgb(231, 227, 227);
    font-family: 'Song Myung', serif;
}

footer i, footer a, footer p {
    font-size: 1.1em;
    color: rgb(231, 227, 227);
}

.sns {
    font-size: 1.8em;
}

@media only screen and (max-width:450px) {
    footer i, footer a, footer p {
        font-size: 0.8em;
        text-align: left;
    }

    .sns {
        font-size: 1.5em;
    }
}


/* Home page */
.home {
    height: 95vh;
    background-image: linear-gradient(to right, rgba(96, 96, 99, 0.411), rgba(153, 149, 149, 0.329)),  url('img/homeImg.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home h1 {
    color: white;
    font-family: 'Cormorant Upright', serif;
}

.home p {
    color: whitesmoke;
    font-family: 'Nanum Gothic',  sans-serif;
}


/* 'All Kimchis' page */
.allkimchis {
    background-color: white;
    font-family: 'Average', serif;
}

.allkimchis .font {
    font-family: 'Cormorant Upright', serif;
}


/* 'Shopping Cart' page */
.cart {
    font-family: 'Roboto', sans-serif;   
}

.cart h1 {
    font-family: 'Cormorant Upright', serif;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.cart h3 {
    color: green;
}

.cart .delete {
    color: #333;
}

.cart .qty {
    width: 44px;
    height: 33px;
}

.cart hr {
    border: 1.5px solid green;
    border-radius: 5px;
    margin-bottom: 10rem;
}