/* To remove hyperlink on <a> tag in 'View all reviews' and 'View all kimchis' pages*/
.allreviews a, .allkimchis a {
    color: inherit;
    text-decoration: none;
}


/* To make the contents field in the review form to be shown wider, by giving padding*/
#TableContent {
    padding-bottom: 15rem;
}


/* To make the width of the buttons to be align with the contents table in 'Review details' page */
#fitBtn, #fitBtn2 {
    padding-left: 0;
    padding-right: 0;
}


/* To give user-interactions on display cards upon mouseover */
#cardEffect {
    transition: 0.5s ease;
}

#cardEffect:hover {
    transform: scale(1.1);
}


/* Search engine*/
#id_title, #id_main_ingredient, #searchBtn {
    width: 9rem;
}

 @media screen and (max-width: 1000px) {
    #search {
       width: 5rem;
    }

    #id_title, #id_main_ingredient, #searchBtn {
    width: 5rem;
    }
}

 @media screen and (max-width: 575px) {
    #search {
       width: 15rem;
    }

    #id_title, #id_main_ingredient, #searchBtn {
    width: 15rem;
    }
}


/* For product images displayed on card */
input#id_title.textinput.textInput.form-control, img.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 300px;
}
