{% extends 'base.template.html'%}
{% load cloudinary %}


{% block title %}All Kimchis{% endblock %}

{% block content %}
<section class="allkimchis">
    <div class="container">
        <div class="allkimchisBox">
            <div class="row py-5">
                <div class="col">
                    <p class="h1 text-center py-5 font">Meet the best Kimchi in town</p>
                </div>
            </div>
        
            <div class="row">
                <!--Search engine starts-->
                <div class="col-sm-2 mt-5">
                    <form method="GET" id="search" class="mx-auto">
                        <div class="form-group mt-3">
                            {{form.as_p}}
                        </div>
                        <input type="submit" id="searchBtn" class="btn btn-outline-dark mt-2" value="Search"/>
                    </form>
                    <br>
                    <p class="h6 text-center">{{kimchis | length}} kimchis available</p>
                </div>
                <!--Search engine ends-->
            
                <div class="col-sm-10">
                    <div class="row">
                        {% for k in kimchis %}
                        <div class="col-sm-4 mb-5 mt-5">
                            <a href="{% url 'kimchi_details_route' kimchi_id=k.id%}">
                                <img class="img-fluid"  id="cardEffect" {% cloudinary k.cover %}
                                <br>
                                <br>
                                <div class="text-center">
                                    <p class="h4 font">{{k.title}}</p>
                                    <p>Main Ingredient: {{k.main_ingredient.title}}</p>
                                    <p>${{k.price}}</p>
                                    <a class="btn btn-outline-success font" href="{% url 'add_to_cart_route' kimchi_id=k.id %}">Add to cart</a>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

