{% extends 'base.template.html' %}
{% load cloudinary %}

{% block title %}{{kimchi.title}}{% endblock %}

{% block content %}
<section class="kimchiDetails">
    <div class="container">
        <div class="row spacingTop">
            <div class="col mt-5">
                <table class="table table-bordered">
                <tbody>
                    <tr>
                        <img class="img-fluid cloudinaryImg" {% cloudinary kimchi.cover %}
                    </tr>
                </tbody>
                </table>
            </div>

            <div class="col py-5">
                <table>
                    <h4>{{kimchi.title}}</h4>
                    <hr>
                    <tr>
                        <th scope="row">Price</th>
                        <td>${{kimchi.price}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Main Ingredient</th> 
                        <td>{{kimchi.main_ingredient}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{kimchi.desc}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Manufactured Date</th> 
                        <td>{{kimchi.manufactured_date|date:"d.m.Y"}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Expiry Date</th>
                        <td>{{kimchi.expiry_date|date:"d.m.Y"}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tags</th>
                        <td>
                            {% for t in kimchi.tags.all %}
                                <span class="badge badge-pill badge-success">{{t.title}}</span>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
			<div class="col mb-3 btnPosition">
                <a href="{% url 'add_to_cart_route' kimchi_id=kimchi.id %}" class="btn btn-outline-dark btn-sm">Add to cart</a>
				<a href="{% url 'all_kimchis_route' %}" class="btn btn-outline-dark btn-sm">Continue Shopping</a>
			</div>
		</div>
		<hr class="bottomline">



    </div>
</section>
{% endblock %}