{% extends 'base.template.html' %}
{% load cloudinary %}

{% block title %}{{kimchi.title}}{% endblock %}

{% block content %}
<div class="row py-5">
    <div class="col">
        <table class="table table-bordered">
        <tbody>
            <tr>
                <img class="card-img-top" {% cloudinary kimchi.cover %}/>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="col">
        <p>Product Name: {{kimchi.title}}</p>
        <p>Desc: {{kimchi.desc}}</p>
        <p>Price: ${{kimchi.price}}</p>
        <p>Manufactured Date: {{kimchi.manufactured_date|date:"d.m.Y"}}</p>
        <p>Expiry Date: {{kimchi.expiry_date|date:"d.m.Y"}}</p>
        <p>Main Ingredient: {{kimchi.main_ingredient}}</p>
        <p>Tags:
            {% for t in kimchi.tags.all %}
            <span class="badge badge-pill badge-primary">{{t.title}}</span>
            {% endfor %}
        </p>
    </div>
</div>
<div>
    <a class="btn btn-primary" href="{% url 'add_to_cart_route' kimchi_id=kimchi.id %}">Add to cart</a>
</div>

{% endblock %}